<%- include partials/header.ejs %>

<h1>Create!</h1>
<div class="alert-danger"> <%= message %> </div>
<form action="/create" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="submit" value="submit">
</form>

<%- include partials/footer.ejs %>
